<div class="container" data-controller="hello">
  <div class="photo-profil">
    <img src="https://i.pinimg.com/originals/48/2a/c2/482ac2bf95c55c7a7324ad45f6e17ad0.jpg" alt="image">
  </div>

  <div class="description">
    <h1>Hello i'm Yoann <span>Morillo</span>
    </h1>
    <p>Bienvenue sur mon Portfolio de développeur web Full-stack, ou je vous propose de découvrir mon parcours ainsi que mes projets.</p>
    <h3>Yoann Morillo</h3>
    <a href="https://www.linkedin.com/in/yoann-morillo-641a9791/"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://github.com/yoann69"><i class="fa-brands fa-github"></i></a>
  </div>
  <div class="photo-lion">
    <img src="https://media.istockphoto.com/id/542197312/fr/photo/lion-en-noir-et-blanc.jpg?s=612x612&w=0&k=20&c=NGbnXO_5R2zarRb2L1vM1HWz0TNzblwXJ6NL8lckfck=" alt="image">
  </div>
</div>

<div class="container-technos">
<h1>About me</h1>
</div>

<div class="container4">
  <div class="card">
    <div class="circle"></div>
    <div class="card-inner">
      <p>BAC STG</p>
      <div class="year">2009</div>
    </div>
  </div>
  <div class="card">
    <div class="circle"></div>
    <div class="card-inner">
      <p>BTS Profession Immobilières</p>
      <div class="year">2013</div>
    </div>
  </div>
  <div class="card">
    <div class="circle"></div>
    <div class="card-inner">
      <p>Le Wagon</p>
      <div class="year">2023</div>
    </div>
  </div>
</div>



<div class="container-technos">
<h1>Dev formation</h1>
</div>

<div class="container3">
  <div class="round-container">
    <h2>Mes <span>Technos</span></h2>
    <div class="round round-1 backlight"><p>HTML</p></div>
    <div class="round round-2 backlight"><p>CSS</p></div>
    <div class="round round-3 backlight"><p>Rails</p></div>
    <div class="round round-4 backlight"><p>JS</p></div>
    <div class="round round-5 backlight"><p>Ruby</p></div>
    <div class="round round-6 backlight"><p>Github</p></div>
  </div>
</div>


<div class="container-technos">
<h1>School formation</h1>
</div>

<div class="container4">
  <div class="card">
    <div class="circle"></div>
    <div class="card-inner">
      <p>BAC STG</p>
      <div class="year">2009</div>
    </div>
  </div>
  <div class="card">
    <div class="circle"></div>
    <div class="card-inner">
      <p>BTS Profession Immobilières</p>
      <div class="year">2013</div>
    </div>
  </div>
  <div class="card">
    <div class="circle"></div>
    <div class="card-inner">
      <p>Le Wagon</p>
      <div class="year">2023</div>
    </div>
  </div>
</div>

<div class="container-technos">
<h1>Mes projets</h1>
</div>




<%# <div class="container4">
  <ul class="align">
    <li>
      <figure class='book'>
        <ul class='hardcover_front'>
          <li>
            <div class="coverDesign blue">
              <h1>School</h1>
              <h2>Graduations</h2>
            </div>
          </li>
          <li></li>
        </ul>
        <ul class='page'>
          <li><p>- Bac STG
          </p></li>
    </li>
  </ul> %>
