.card-formation{
  width: 230px;
  height: 200px;
  background-color: transparent;
  border: solid 1px white;
  margin: 12px;
}

.image-container {
  border: solid 1px red;
}

.image-container img {
  width: auto;
  height: 100px;
}
