.round-container {
  position: relative;
  width: 400px; /* Ajustez la largeur du conteneur selon vos besoins */
  height: 400px; /* Ajustez la hauteur du conteneur selon vos besoins */
  // border: solid 1px #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0077b6;
  position: absolute;
}

.round p {
  text-align: center;
  word-wrap: break-word;
}

.round-1 {
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
}

.round-2 {
  top: 14%;
  left: 26%;
  transform: translate(-50%, -50%);
}

.round-3 {
  top: 14%;
  left: 74%;
  transform: translate(-50%, -50%);
}

.round-4 {
  top: 50%;
  left: 98%;
  transform: translate(-50%, -50%);
}

.round-5 {
  top: 86%;
  left: 74%;
  transform: translate(-50%, -50%);
}

.round-6 {
  top: 86%;
  left: 26%;
  transform: translate(-50%, -50%);
}








/* Ajoutez des styles similaires pour les autres classes des ronds en ajustant les valeurs de grid-row et grid-column */
